/*
	_content.css
*/

.ls-icon{
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.mol{
	width: 794px;
	height: 604px;
	position: absolute;
	top: 0;
	pointer-events: none;
	z-index: -1;
	background-repeat: no-repeat;
	&.left{
		transform: rotate(90deg) translateY(90px);
		top: 500px;	
		left: 0;
	}
	&.right{
		transform: rotate(-90deg) translateY(90px);
		top: 1200px;	
		right: 0;
	}

}

.fa-star{
	color: $color-gray-1;
	&.fill{
		color: $color-1;
	}
}


.bnr-entry{
	color: white;
	.align-i-center{
		background-size: cover;
		
	}
	.bg-shadow{
		background-color: $color-1;
		opacity: 0.65;
	}
	h1{
		padding-left: 15px;
		border-left: 5px solid;
	}
	@media (min-width: 992px) {
		.align-i-center{
			height: 215px;
		}
		h1{
			width: 80%;
		}
	}
	@media (max-width: 991px) {
		.container{
			width: 100%;
		}
	}
}





.drop-sub{
	position: relative;
	.drop-sub-box{
		opacity: 0;
		visibility: hidden;
		transform: translateY(12px);
		transition: 
							transform 0.3s ease-in-out,
							visibility 0.3s ease-in-out,
							opacity 0.3s ease-in-out
							;
		position: absolute;
		z-index: 1;
	}
	&:hover{
		.drop-sub-box{
			opacity: 1;
			transform: inherit;
			visibility: visible;
			transition: 
				transform 0.3s ease-in-out,
				visibility 0.3s ease-in-out,
				opacity 0.3s ease-in-out
		}
	}
}


.bg-shadow{
	pointer-events: none;
}

//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
	@media (min-width: 992px) {
		figure{
			opacity: 0.3;
			transition: 0.2s;
			&:hover{
				opacity: 1;
			}
		}
	}	
}



.entry-header{
	p{
		line-height: 170%;
	}
	a{
		color: lighten($color-1, 5%);
	}
}



.bnr-carousel{
	$slider-height: 590px;
	background-color: white;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	background-position: center center;
	figure{
		overflow: hidden;
		height: $slider-height;
		transition: all 1.8s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    transform: scale(1.2);
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			&:before{
				//background-position: 0;
			}
			.img{
				filter: blur(0);
				transform: scale(1);
			}
		}
	}
	h1, p, .btn-def, img{
		opacity: 0;
		transition: 1s ease;
	}
	h1{
		border-left: 0;
		padding-left: 0;
		transform: translateY(-20px);
		&:after{
			width: 70px !important;
		}
	}
	p, img{
		transform: translateY(20px);	
	}

	.text-content{
		position: relative;
		.wrapper{
			@extend .gradient-1;
			padding: 40px;
			&:before, &:after{
				z-index: -1;
				@extend .clafclear;
				background-color: $color-1;
				width: 150px;
				height: 150px;
				transform: translate(-50px, -50px);
			}
			&:after{
				left: auto;
				right: 0;
				transform: translate(10px, -100px);	
			}
		}
	}
	.btn-def{
		transform: scale(1.3);
	}
	.is-selected{
		h1, p, .btn-def, img{
			transform: scale(1);
			//text-shadow: 0px 0px 0px white;
			opacity: 1;
		}
	}
	.flickity-slider{
		transform: inherit !important;
	}
	.container-arrows{
    @extend .container;
    @extend .trans-h-center;
    z-index: 1;
    position: absolute;
    top: auto !important;
    bottom: 50px;
    @media (max-width:991px) {
    	width: 90%;
    }
		// Стрелки
		.flickity-prev-next-button{
			&.previous{
				left: auto;
				right: 60px;
			}
		}


	}
	.carousel-content{
		position: relative;
		.align-i-center{
			height: $slider-height;
		}
		@media (max-width: 991px) {
			.align-i-center{
				height: 90vh;
			}
		}
	}
	.bg-shadow{
		background: linear-gradient(to bottom, 
			rgba(0,0,0,0.8) 0%,
			rgba(41,137,216,0) 50%,
			rgba(0,0,0,0.8) 100%) !important;
	}

	//Навигация
	.flickity-page-dots{
		@extend .container;
		@extend .trans-center;
		position: absolute;
		top: auto !important;
		margin-bottom: 60px;
		text-align: left;
		padding-left: 30px;
		padding-right: 30px;
		li{
			margin-left: 0;
    	margin-right: 15px;
		}
	}

	@media (max-width: 991px) {
		font-size: 0.9em;
		figure{
			height: calc(100vh - 70px);
			.img{
				height: calc(100vh - 70px);
			}
		}
		.bg-wrapper{
			width: 100%;
			transform: scale(0.8);
		}
		.carousel-prev-next{
			width: 100%;
		}
		.flickity-page-dots{
			display: none;
		}
	}
	@media ( max-width:370px ) {
		word-wrap: break-word;
	}
}




// content
.btn-download{
	font-size: 30px;
	height: 30px;
	color: $color-1;
	.icm-download-button{
		
	}
}
.gray-line{
	margin: 30px 0;
	display: flex;
	align-items: flex-end;
	h1{
		margin-bottom: 0;
		line-height: 100%;
		white-space: nowrap;
	}
	.line{
		margin-left: 15px;
		margin-right: 15px;
		background-color: rgba($color-gray-1, 0.5);
		height: 2px;
		width: 100%;
	}
	@media (max-width: 991px) {
		margin: 0;
		margin-top: 15px;
		flex-direction: column;
		justify-content: center;
		*{
			
		}
		.align-center{
			justify-content: center;
		}
		h1, .link-download, .line{
			width: 100%;
			margin: 15px 0;
		}
		.line{

		}
	}
}
//short-productions
.short-productions{
	overflow: hidden;
	.entry-header{
		.text-nowrap{
			p{
				line-height: 135%;
			}
		}
	}
}
.short-productions-items{
	padding: 0 60px;
	@media (max-width: 991px){
		padding: 0 50px;
	}
	figure, .boxes-cell{
		padding-bottom: 10px;
		&.is-selected, &:hover{
			.wrapper{
				box-shadow: 5px 5px 50px -18px black;	
			}
		}
		.wrapper{
			transition: all 0.3s ease;
			background-color: white;
			padding: 10px;
			border: 1px solid $color-gray-1;
			box-shadow: 0px 0px 15px -10px black;
		}
		h3{
			padding-bottom: 10px;
			&:before, &:after{
				@extend .clafclear;
				@extend .trans-h-center;
			}
			&:before{
				height: 1px;
				width: 180px;
				background-color: black;
				left: 0;
				bottom: 0;
			}
			&:after{
				height: 6px;
				width: 40px;
				bottom: -3px;
				background-color: $color-1;
			}
		}
		.img{
			height: 240px;
			background-position: center;
			background-size: cover;
			@media (max-width: 991px) {
				height: 160px;
			}
		}
	}
	@media (max-width: 991px) {
		.flickity-slider figure{
			margin-top: 0 ;
			margin-bottom: 0 ;
		}
	}
	.btn-def{
		@extend .gradient-1;
		color: white;
		margin-top: 15px;
		margin-bottom: 15px;
		position: relative;
		text-transform: none;
		&:before{
			@extend .clafclear;
			border: 1px solid transparent;
			left: 0;
			transform: scale(1.05, 1.15);
		}
		a{
			padding: 8px 40px;
		}
		&:hover{
			background: $color-1 !important;
			&:before{
				border-color: rgba($color-gray-2, 0.5);
			}
		}
	}
	
}




//short-about
.short-about-content{
	padding: 30px 0;
	position: relative;
	//display: flex;
	.img-content{
		z-index: 1;
		pointer-events: none;
		padding-right: 30px;
		width: 50%;
		@extend .trans-v-center;
		&:before{
			@extend .clafclear;
			background-color: $color-1;
			width: calc(100% - 40px);
			z-index: -1;
			left: -10px;
			bottom: -10px;
		}
		img{
			//height: 380px;
		}
	}
	.desc-content{
		width: 75%;
		padding: 60px 15px 60px 25%;
		background-color: white;
		margin-left: auto;
		//padding: 80px 80px 80px 200px;
		box-shadow: 0 0 70px -10px rgba(black, 0.5);
	}
	@media (max-width: 991px) {
		padding: 15px 0;
		div.desc-content{
			width: 100%;
			padding: 10px 15px;
		}
		div.img-content{
			width: 100%;
			transform: scale(1);
			top: 0;
			position: relative;
			pointer-events: auto;
			padding: 0;
			&:before{
				display: none;
			}
		}
	}
}


//short-why
.short-why-items{
	figure{
		background-color: #efefef;
		padding: 10px;
		border-radius: 10px;
		transition: all 0.3s ease;
		box-shadow: 0 0 0px -0px transparent;
		&:hover{
			box-shadow: 0 0 40px -10px $color-gray-2;
		}
	}
	figure, .boxes-cell{
		vertical-align: top;
	}
	.boxes-cell{
		text-align: left;
	}
	.wrapper{
		border-radius: 10px;
		border: 2px dashed $color-gray-1;
		position: relative;
		overflow: hidden;
		z-index: 1;
		display: flex;
		align-items: center;
		height: 230px;
		&>div{
			width: 100%;
		}
	}
	.img-content{
		margin: 15px 0;
		font-size: 60px;
		.mirror{
			left: 0;
			top: 0;
			transform: translate(-25%, -25%);
			opacity: 0.5;
			font-size: 120px;
			color: $color-gray-1;
			position: absolute;
			z-index: -1;
		}
		.icon{
			color: $color-1;
		}
	}
	figcaption{
		font-weight: 600;
		margin: 15px 0;
		padding: 0 10px;
		font-size: 1.3em;
		color: $color-gray-3;
	}

}
.icm-placeholder-on-map-paper-in-perspective{ font-size: 75px; }
.icm-delivery-truck-with-circular-clock{ font-size: 86px; }
.icm-hours-support{ font-size: 79px; }
.icm-trophy-cup-silhouette{ font-size: 62px; }
.icm-d-printer2{ font-size: 63px; }
.icm-product{ font-size: 54px; }
.icm-like{ font-size: 59px; }


//short-partners
.short-partners-items{
	figure, .boxes-cell{
		.wrapper{
			border: 1px solid $color-gray-1;
			border-radius: 10px;
			transition: all 0.3s ease;
		}
		&:hover{
			.wrapper{
				box-shadow: inset 0 0 11px -3px black;
			}
		}
	}
	.img-content{
		padding: 15px;
	}
	.img{
		height: 90px;
		background-position: center;
		background-size: contain;
	}
}
.short-partners-carousel{
	.flickity-btn-1{
		@media (max-width: 991px){
			figure{
				padding: 0 30px;
				margin: 0;		
				margin-bottom: 30px;
			}
			.flickity-prev-next-button{
				top: auto;
				bottom: 0;
				position: relative;
				display: inline-block;
				&.previous{
					//margin-left: 50%;
					transform: translateX(-10px);
				}
				&.next{
					//margin-right: 50%;
					transform: translateX(10px);
				}

			}
		}
		@media (min-width: 992px){
			.flickity-prev-next-button{
				top: -32px;
				&.previous{
					left: auto;
					right: 60px;
				}
			}
		}
	}
}




//short-worksteps
.short-worksteps{
	background-size: cover;
	background-position: center;
	h1{
		border-color: white;
	}
}
.short-worksteps-items{
	h4{
		padding-bottom: 15px;
		&:before{
			@extend .clafclear;
			width: 30px;
			height: 3px;
			bottom: 0;
			background-color: white;
			@media (max-width: 991px) {
				display: none;
			}
		}
	}
	figure{
		&:last-child{
			.img-content, .desc-content{
				&:after{
					display: none;
				}
			}
		}
		&:nth-child(2n+2){
			.img-content{
				&:after{
					transform: matrix(1,0,0,-1,0,0);
				}
			}
		}
	}
	.img-content{
		position: relative;
		z-index: 1;
		padding-top: 60px;
		&:before{
			@extend .clafclear;
			width: 64px;
			height: 64px;
			pointer-events: none;
			z-index: -1;
			background-color: rgba(black, 0.27);
			transform: translate(20px, -30px);
		}
		&:after{
			@extend .clafclear;
			background-image: url('../img/other/arrow-worksteps.png');
			background-repeat: no-repeat;
			background-size: cover;
			width: 50px;
			height: 17px;
			right: 0;
			bottom: 10px;
			@media (max-width: 991px) {
				display: none;
			}
		}
	}
	.cnt{
		font-size: 60px;
		line-height: 100%;
		font-weight: 900;
	}
	@media (max-width: 480px) {
		.desc-content{
			position: relative;
			&:after{
				content: " ";
				background-image: url('../img/other/arrow-worksteps.png');
				background-repeat: no-repeat;
				background-size: cover;
		    width: 50px;
		    height: 17px;
		    position: relative;
		    right: 0;
		    display: block;
		    margin: auto;
		    transform: rotate(90deg) translate(10px, -90px);
		    bottom: 0;
			}
		}

	}
}


//short-news
.short-news{
	.gray-line{
		a{
			@media (max-width: 991px) {
				display: block;
    		width: 100%;
    		padding: 15px 15px;
    		text-decoration: underline;
    		font-size: 1.2em;
			}
		}
	}
}
.short-news-items{
	.img-content{
		position: relative;
		overflow: hidden;
		padding: 5px;
		transition: all 0.3s ease;
		transform: scale(1);
	}
	.desc-content{
		padding-left: 15px;
		padding-right: 15px;
	}
	.img{
		background-size: cover;
		background-position: center;
		height: 170px;
		position: relative;
	}
	figure, .boxes-cell{
		&:hover{
			.img-content{
				transform: translateY(-5px);
			}
		}
	}
}
.date-box{
	z-index: 1;
	top: 0;
	left: 0;
	position: absolute;
	display: inline-block;
	transform: translate(-5px, 0);
	background-color: $color-1;
	color: white;
	padding: 5px 15px;
}






//production
.products-list{
	ul{
		box-shadow: 5px 3px 30px -5px rgba(0, 0, 0, 0.55);
		li{
			&:not(:last-child){
				border-bottom: 1px solid $color-gray-1;
			}
			a{
				background-color: white;
				color: black;
				padding: 15px 15px;
				display: block;
			}
			&:hover, &.active{
				a{
					background-color: $color-1;
					color: white;
				}
			}
		}
	}
}
.products-items{
	figure{
		.wrapper{
			padding: 12px;
			padding-bottom: 20px;
			border: 1px solid $color-gray-1;
			background-color: white;
			box-shadow: 5px 4px 15px -5px rgba(0, 0, 0, 0.48);	
		}
		.img{
			background-size: cover;
			height: 220px;
		}
	}
	figcaption, h3{
		position: relative;
		font-size: 1.3em;
		transition: all 0.3s ease;
		font-weight: 600;
		padding: 10px 20px;
		padding-bottom: 20px;
		&:before, &:after{
			@extend .clafclear;
			@extend .trans-h-center;
		}
		&:before{
			height: 1px;
			width: 180px;
			background-color: black;
			left: 0;
			bottom: 0;
		}
		&:after{
			height: 6px;
			width: 40px;
			bottom: -3px;
			background-color: $color-1;
		}
		&:hover{
			color: $color-1;
		}
	}
}

//product
.product{
	.flickity-prev-next-button{
		display: none;
	}
	.carousel-main{
		.img{
			height: 340px;
			background-position: center;
			@media (max-width: 991px) {
				height: 220px;
			}
		}
	}
	.carousel-article{
	}
}



//factories
.factories-pictures{
	.img{
		background-position: center;
		height: 200px;
		background-size: cover;
	}
}
.factories-videos{
	iframe{
		width: 100%;
		position: relative;
		overflow: hidden !important;
		height: 424px;
		@media (max-width: 991px){
			height: 210px;
		}
	}
}






//projects
.projects{
	.tablist{
		@extend .letter-none;
		@extend .btn-opacity;
		@extend .flex-adaptive;
		justify-content: center;
		border: none;
		a{
			display: block;
		}
		li{
			width: 100%;
			font-size: 0.95em;
			display: inline-block;
			color: black;
			font-weight: 500;
			background-color: lighten($color-gray-1, 5%);
			&.active{
				background-color: $color-1;
				color: white;
			}
		}
	}
	.tab-content{
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
.projects-items{
	.wrapper{
		@extend .flex-adaptive;
	}
	.desc-content{
		h4{
			margin-top: 0;
		}
	}
	.img-content, .desc-content{
		margin: 15px 0; 
	}
	.img{
		height: 180px;
		background-size: contain;
		background-position: center;
		width: 220px;
		@media (max-width: 991px) {
			width: 100%;
		}
	}
}

//certifications
.certifications-carousel{
	.flickity-btn-1 .flickity-prev-next-button{
		&.previous{
			top: auto;
			left: auto;
			right: 45px;
			bottom: -55px;
		}
		&.next{
			top: auto;
			right: 0;
			bottom: -55px;
			
		}
	}	
	figure{
		img{
			width: 100%;
		}
		&.is-selected{
			.wrapper{
				transform: translateY(-5px) scale(1);
			}
		}
	}
	.wrapper{
		transition: all 0.3s ease;
		transform: scale(0.9);
	}
	.flickity-page-dots{
		text-align: left;
		padding-right: 110px;
	}
	.flickity-viewport{
		padding: 0 15px;
	}
}