@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?prmott');
  src:  url('fonts/icomoon.eot?prmott#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?prmott') format('truetype'),
    url('fonts/icomoon.woff?prmott') format('woff'),
    url('fonts/icomoon.svg?prmott#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icm-"], [class*=" icm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icm-d-printer:before {
  content: "\e900";
}
.icm-d-printer2:before {
  content: "\e901";
}
.icm-hours:before {
  content: "\e902";
}
.icm-hours2:before {
  content: "\e903";
}
.icm-hours-support:before {
  content: "\e904";
}
.icm-assembly:before {
  content: "\e905";
}
.icm-assembly2:before {
  content: "\e906";
}
.icm-back-arrow:before {
  content: "\e907";
}
.icm-delivery-package-opened:before {
  content: "\e908";
}
.icm-delivery-truck-with-circular-clock:before {
  content: "\e909";
}
.icm-down-arrow:before {
  content: "\e90a";
}
.icm-download-button:before {
  content: "\e90b";
}
.icm-factory:before {
  content: "\e90c";
}
.icm-flagof-russia:before {
  content: "\e90d";
}
.icm-like:before {
  content: "\e90e";
}
.icm-map:before {
  content: "\e90f";
}
.icm-map-pin-marked:before {
  content: "\e910";
}
.icm-medal:before {
  content: "\e911";
}
.icm-package:before {
  content: "\e912";
}
.icm-placeholder-on-map-paper-in-perspective:before {
  content: "\e913";
}
.icm-product:before {
  content: "\e914";
}
.icm-recommended:before {
  content: "\e915";
}
.icm-telephone:before {
  content: "\e916";
}
.icm-trophy-cup-silhouette:before {
  content: "\e917";
}
.icm-zoom:before {
  content: "\e918";
}
.icm-zoom-in:before {
  content: "\e919";
}
.icm--:before {
  content: "\e91a";
  color: #e6e7e8;
}
