$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-d-printer: "\e900";
$icm-d-printer2: "\e901";
$icm-hours: "\e902";
$icm-hours2: "\e903";
$icm-hours-support: "\e904";
$icm-assembly: "\e905";
$icm-assembly2: "\e906";
$icm-back-arrow: "\e907";
$icm-delivery-package-opened: "\e908";
$icm-delivery-truck-with-circular-clock: "\e909";
$icm-down-arrow: "\e90a";
$icm-download-button: "\e90b";
$icm-factory: "\e90c";
$icm-flagof-russia: "\e90d";
$icm-like: "\e90e";
$icm-map: "\e90f";
$icm-map-pin-marked: "\e910";
$icm-medal: "\e911";
$icm-package: "\e912";
$icm-placeholder-on-map-paper-in-perspective: "\e913";
$icm-product: "\e914";
$icm-recommended: "\e915";
$icm-telephone: "\e916";
$icm-trophy-cup-silhouette: "\e917";
$icm-zoom: "\e918";
$icm-zoom-in: "\e919";
$icm--: "\e91a";

