

/* Gilroy */
@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroySemiBold.eot');
    src: url($path+'GilroySemiBold.eot') format('embedded-opentype'),
    url($path+'GilroySemiBold.woff2') format('woff2'),
    url($path+'GilroySemiBold.woff') format('woff'),
    url($path+'GilroySemiBold.ttf') format('truetype'),
    url($path+'GilroySemiBold.svg#GilroySemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroySemiBoldItalic.eot');
    src: url($path+'GilroySemiBoldItalic.eot') format('embedded-opentype'),
    url($path+'GilroySemiBoldItalic.woff2') format('woff2'),
    url($path+'GilroySemiBoldItalic.woff') format('woff'),
    url($path+'GilroySemiBoldItalic.ttf') format('truetype'),
    url($path+'GilroySemiBoldItalic.svg#GilroySemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyBoldItalic.eot');
    src: url($path+'GilroyBoldItalic.eot') format('embedded-opentype'),
    url($path+'GilroyBoldItalic.woff2') format('woff2'),
    url($path+'GilroyBoldItalic.woff') format('woff'),
    url($path+'GilroyBoldItalic.ttf') format('truetype'),
    url($path+'GilroyBoldItalic.svg#GilroyBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyBold.eot');
    src: url($path+'GilroyBold.eot') format('embedded-opentype'),
    url($path+'GilroyBold.woff2') format('woff2'),
    url($path+'GilroyBold.woff') format('woff'),
    url($path+'GilroyBold.ttf') format('truetype'),
    url($path+'GilroyBold.svg#GilroyBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyExtraBold.eot');
    src: url($path+'GilroyExtraBold.eot') format('embedded-opentype'),
    url($path+'GilroyExtraBold.woff2') format('woff2'),
    url($path+'GilroyExtraBold.woff') format('woff'),
    url($path+'GilroyExtraBold.ttf') format('truetype'),
    url($path+'GilroyExtraBold.svg#GilroyExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyExtraBoldItalic.eot');
    src: url($path+'GilroyExtraBoldItalic.eot') format('embedded-opentype'),
    url($path+'GilroyExtraBoldItalic.woff2') format('woff2'),
    url($path+'GilroyExtraBoldItalic.woff') format('woff'),
    url($path+'GilroyExtraBoldItalic.ttf') format('truetype'),
    url($path+'GilroyExtraBoldItalic.svg#GilroyExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyBlack.eot');
    src: url($path+'GilroyBlack.eot') format('embedded-opentype'),
    url($path+'GilroyBlack.woff2') format('woff2'),
    url($path+'GilroyBlack.woff') format('woff'),
    url($path+'GilroyBlack.ttf') format('truetype'),
    url($path+'GilroyBlack.svg#GilroyBlack') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyBlackItalic.eot');
    src: url($path+'GilroyBlackItalic.eot') format('embedded-opentype'),
    url($path+'GilroyBlackItalic.woff2') format('woff2'),
    url($path+'GilroyBlackItalic.woff') format('woff'),
    url($path+'GilroyBlackItalic.ttf') format('truetype'),
    url($path+'GilroyBlackItalic.svg#GilroyBlackItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyHeavy.eot');
    src: url($path+'GilroyHeavy.eot') format('embedded-opentype'),
    url($path+'GilroyHeavy.woff2') format('woff2'),
    url($path+'GilroyHeavy.woff') format('woff'),
    url($path+'GilroyHeavy.ttf') format('truetype'),
    url($path+'GilroyHeavy.svg#GilroyHeavy') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyHeavyItalic.eot');
    src: url($path+'GilroyHeavyItalic.eot') format('embedded-opentype'),
    url($path+'GilroyHeavyItalic.woff2') format('woff2'),
    url($path+'GilroyHeavyItalic.woff') format('woff'),
    url($path+'GilroyHeavyItalic.ttf') format('truetype'),
    url($path+'GilroyHeavyItalic.svg#GilroyHeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}


@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyMedium.eot');
    src: url($path+'GilroyMedium.eot') format('embedded-opentype'),
    url($path+'GilroyMedium.woff2') format('woff2'),
    url($path+'GilroyMedium.woff') format('woff'),
    url($path+'GilroyMedium.ttf') format('truetype'),
    url($path+'GilroyMedium.svg#GilroyMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyMediumItalic.eot');
    src: url($path+'GilroyMediumItalic.eot') format('embedded-opentype'),
    url($path+'GilroyMediumItalic.woff2') format('woff2'),
    url($path+'GilroyMediumItalic.woff') format('woff'),
    url($path+'GilroyMediumItalic.ttf') format('truetype'),
    url($path+'GilroyMediumItalic.svg#GilroyMediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyRegular.eot');
    src: url($path+'GilroyRegular.eot') format('embedded-opentype'),
    url($path+'GilroyRegular.woff2') format('woff2'),
    url($path+'GilroyRegular.woff') format('woff'),
    url($path+'GilroyRegular.ttf') format('truetype'),
    url($path+'GilroyRegular.svg#GilroyRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyRegularItalic.eot');
    src: url($path+'GilroyRegularItalic.eot') format('embedded-opentype'),
    url($path+'GilroyRegularItalic.woff2') format('woff2'),
    url($path+'GilroyRegularItalic.woff') format('woff'),
    url($path+'GilroyRegularItalic.ttf') format('truetype'),
    url($path+'GilroyRegularItalic.svg#GilroyRegularItalic') format('svg');
    font-weight: 400;
    font-style: italic;
}



@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyThin.eot');
    src: url($path+'GilroyThin.eot') format('embedded-opentype'),
    url($path+'GilroyThin.woff2') format('woff2'),
    url($path+'GilroyThin.woff') format('woff'),
    url($path+'GilroyThin.ttf') format('truetype'),
    url($path+'GilroyThin.svg#GilroyThin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyThinItalic.eot');
    src: url($path+'GilroyThinItalic.eot') format('embedded-opentype'),
    url($path+'GilroyThinItalic.woff2') format('woff2'),
    url($path+'GilroyThinItalic.woff') format('woff'),
    url($path+'GilroyThinItalic.ttf') format('truetype'),
    url($path+'GilroyThinItalic.svg#GilroyThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyLight.eot');
    src: url($path+'GilroyLight.eot') format('embedded-opentype'),
    url($path+'GilroyLight.woff2') format('woff2'),
    url($path+'GilroyLight.woff') format('woff'),
    url($path+'GilroyLight.ttf') format('truetype'),
    url($path+'GilroyLight.svg#GilroyLight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyLightItalic.eot');
    src: url($path+'GilroyLightItalic.eot') format('embedded-opentype'),
    url($path+'GilroyLightItalic.woff2') format('woff2'),
    url($path+'GilroyLightItalic.woff') format('woff'),
    url($path+'GilroyLightItalic.ttf') format('truetype'),
    url($path+'GilroyLightItalic.svg#GilroyLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyUltraLight.eot');
    src: url($path+'GilroyUltraLight.eot') format('embedded-opentype'),
    url($path+'GilroyUltraLight.woff2') format('woff2'),
    url($path+'GilroyUltraLight.woff') format('woff'),
    url($path+'GilroyUltraLight.ttf') format('truetype'),
    url($path+'GilroyUltraLight.svg#GilroyUltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url($path+'GilroyUltraLightItalic.eot');
    src: url($path+'GilroyUltraLightItalic.eot') format('embedded-opentype'),
    url($path+'GilroyUltraLightItalic.woff2') format('woff2'),
    url($path+'GilroyUltraLightItalic.woff') format('woff'),
    url($path+'GilroyUltraLightItalic.ttf') format('truetype'),
    url($path+'GilroyUltraLightItalic.svg#GilroyUltraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}
